.App {
  text-align: center;
}

.App h1{
  margin: 10% auto;
}

.App button{
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  color: rgb(34, 177, 221);
  background-color: pink;
}
